<% @projects[0..5].each_with_index do |p, i| %>
	<div class="project col-sm-6 col-md-4">
		<a href="/projects/<%=p.id%>">
			<%= image_tag @images[i].photo.url(:large), :class => "home_image" %>
			<div class="project_description col-md-4">
				<h4> <%= p.name %> </h4>
				<%= p.short_description %> 
			</div>
		</a>
	</div>
<% end %>
 