<div class="col-xs-1 col-sm-1 col-md-3"></div>
<div id="about_contact" class="col-sm-10 col-sm-10 col-md-6">
	<section id="contact">
		<div id="contact_top">
			<%= image_tag("logan_100px.png") %><br>
			Product + Health Tech Junkie
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">CONTACT FODDER</div>
			<!-- <span class="social social-twitter"><a href="https://twitter.com/logansm1th" target="_blank">Twitter</a></span> -->
			<span class="social social-linkedin"><a href="https://linkedin.com/in/loganssmith" target="_blank">LinkedIn</a></span>
			<span class="social social-github"><a href="https://github.com/lstarrsmith" target="_blank">Github</a></span>
			<span><a href="mailto:logan29smith@gmail.com?subject=Contact from Logans.work&body=Hey Logan - I'm interested in chatting more, thanks.">Email</a></span>
		</div>
		<div class="section_divider"></div>
	</section>
	<section class="about">
		<div class="contact_subheader">TLDR</div>
		<div id="tldr_text">
			<p>
				Product lead. Global experience. Healthcare expertise. 
			</p>
		<div class="section_divider"></div>
		<div class="contact_subheader">ABOUT ME</div>
		<div id="about_text">
			<p>
				Thanks for checking out my site! I’m Logan Starr (logo ;) ) Smith, a product person from ish Austin and NYC, currently based in London.
			</p>
			<br>
			<p>
				I like working with dreamers. Looney tunes. People who want to break systems and start from scratch. On meaty problems. Foundational stuff. Like how we stay able enough to do what we love.
            </p>
			<br>
			<p>
				So far, that usually plops me on healthcare problems. Every country’s system is stupidly designed. Wouldn’t it be cool if we designed health systems to keep people healthy, proactively, versus maximize per country GDP? 
            </p>
			<br>
			<p>
				I’ve worked in NGOs, government, and small and big private-sector companies. In DC, NYC, SF, Kampala, Nairobi, and London (not to mention projects in 6/7 continents). Mostly in a product (design, engineering or PM) capacity. 
            </p>
			<br>
			<p>
				Outside of “work”, I like talking about neuroscience, AI, philosophy, tacos, and mediocre Sci-Fi books. And I practice capoeira, gymnastics, kayaking — really anything involving movement not in the too too cold — and coach a lil too. 
            </p>
			<br>
			<p>
            	Hit me up (logan29smith at gmail dot com) for my resume or if you have a fun project. I dabble outside healthcare a lot.
           	</p>
			<br>
		</div>
	</section>
</div>
<div class="col-xs-1 col-sm-1 col-md-3"></div>
