<div class="col-xs-1 col-sm-1 col-md-3"></div>
<div id="about_contact" class="col-sm-10 col-sm-10 col-md-6">
	<section id="contact">
		<div id="contact_top">
			<%= image_tag("logan_100px.png") %><br>
			Product Designer, Developer, Health Tech Junkie
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">STALKING FODDER</div>
			<span class="social social-twitter"><a href="https://twitter.com/logansm1th" target="_blank">Twitter</a></span>
			<span class="social social-github"><a href="https://github.com/lstarrsmith" target="_blank">Github</a></span>
			<span class="social social-linkedin"><a href="https://linkedin.com/in/loganssmith" target="_blank">LinkedIn</a></span>
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">REACH OUT!</div>
			<span><a href="mailto:logan29smith@gmail.com?subject=Contact from Logans.work&body=Hey Logan - I'm interested in chatting more, thanks.">Email</a></span>
		</div>
		<div class="section_divider"></div>
	</section>
	<section class="about">
		<div class="contact_subheader">ABOUT ME</div>
		<div id="about_text">
			<p>My name is Logan Starr (maybe now the logo makes sense) Smith, and I'm a product guy based in NYC.</p>
			<br>
			<p>I like tackling big problems with a mix of empathy and technology. The former opens up all possible solutions; the latter usually solves problems more efficiently. 
			</p>
			<br>
			<p>I got hooked on health early in my career (in the US) because it was and is the hardest nut to crack in America. But after working in the digital health space in SF and NYC as a product manager, designer and developer, I thought I could provide more marginal value in the global health space. </p>
			<br>
			<p>So I spent a year in Kampala as a tech lead for a health NGO, running public + private sector health products launched throughout the region. And then I moved to Nairobi to refine my design skills and help a HCD firm explore prototyping and technology work. Plus living in the region was incredible (ex. weekend kayaking on the Nile) and I learned a ton about how to start/ scale solutions globally.
			</p>
			<br>
			Now I'm back in NYC, continuing to work on global health, design, and tech projects -- but also focusing on some domestic initiatives close to my heart. On the latter, always feel free to shoot me a note if you have something fun on which we can work (build, strategize, refine). On top of health, I'm interested in criminal justice reform, next-gen journalism, and simplified voting initiatives. 
			</p>
		</div>
	</section>
</div>
<div class="col-xs-1 col-sm-1 col-md-3"></div>
