<div class="col-xs-1 col-sm-1 col-md-3"></div>
<div id="about_contact" class="col-sm-10 col-sm-10 col-md-6">
	<section id="contact">
		<div id="contact_top">
			<%= image_tag("logan_100px.png") %><br>
			Product Designer, Developer, Health Tech Junkie
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">STALKING FODDER</div>
			<span class="social social-twitter"><a href="https://twitter.com/logansm1th" target="_blank">Twitter</a></span>
			<span class="social social-github"><a href="https://github.com/lstarrsmith" target="_blank">Github</a></span>
			<span class="social social-linkedin"><a href="https://linkedin.com/in/loganssmith" target="_blank">LinkedIn</a></span>
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">REACH OUT!</div>
			<span><a href="mailto:logan29smith@gmail.com?subject=Contact from Logans.work&body=Hey Logan - I'm interested in chatting more, thanks.">Email</a></span>
		</div>
		<div class="section_divider"></div>
	</section>
	<section class="about">
		<div class="contact_subheader">ABOUT ME</div>
		<div id="about_text">
			<p>Thanks for visiting my site! My name is Logan Starr (maybe now the logo makes sense) Smith, and I'm a product guy based in Kampala, Uganda.</p>
			<br>
			<p>I'm primarily interested in product design and get most excited about the work required from ideation > research > prototyping > user testing to the start of development. But I also develop and appreciate perfecting products for users. </p>
			<br>
			<p>Most of my projects are in the health space, but as you'll see from the ones listed on this site, I can work across industries. That being said, I try to only delve out of health for high-impact projects (I currently use a lot of the <a href="http://www.vox.com/2015/4/24/8457895/givewell-open-philanthropy-charity" target="_blank">effective altruism</a> ideas as my rubric for joining projects).</p>
			<br>
			<p>I'm currently working as a tech lead for the Clinton Health Access Initiative, and I used to freelance as a designer/ developer and also worked in management consulting in DC/ NYC/ SF. </p>
			<br>
			<p> I'm always interested in helping where I can, so hit me up if you have a project idea and think we can work together! </p>
		</div>
	</section>
</div>
<div class="col-xs-1 col-sm-1 col-md-3"></div>
