<div class="col-xs-1 col-sm-1 col-md-3"></div>
<div id="about_contact" class="col-sm-10 col-sm-10 col-md-6">
	<section id="contact">
		<div id="contact_top">
			<%= image_tag("logan_100px.png") %><br>
			Product + Health Tech Junkie
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">CONTACT FODDER</div>
			<!-- <span class="social social-twitter"><a href="https://twitter.com/logansm1th" target="_blank">Twitter</a></span> -->
			<span class="social social-linkedin"><a href="https://linkedin.com/in/loganssmith" target="_blank">LinkedIn</a></span>
			<span class="social social-github"><a href="https://github.com/lstarrsmith" target="_blank">Github</a></span>
			<span><a href="mailto:logan29smith@gmail.com?subject=Contact from Logans.work&body=Hey Logan - I'm interested in chatting more, thanks.">Email</a></span>
		</div>
		<div class="section_divider"></div>
	</section>
	<section class="about">
		<div class="contact_subheader">TLDR</div>
		<div id="tldr_text">
			<p>
				Product lead. Strategy, design, eng, and teambuilding skills. Expertise in product strategy, system design, prototyping, and software delivery management across industries (but primarily healthcare and social impact).
			</p>
		<div class="section_divider"></div>
		<div class="contact_subheader">ABOUT ME</div>
		<div id="about_text">
			<p>
				My name is Logan Starr (perhaps the logo makes sense) Smith, and I'm a product person based in NYC.
			</p>
			<br>
			<p>
				I like tackling big problems with a mix of empathy and technology. The former unlocks all possible solutions; the latter often solves problems more efficiently. 
			</p>
			<br>
			<p>
				I got hooked on health early in my career (in the US) because it's the hardest nut to crack in America (outside of race <> criminal justice reform). But after helping some early-stage startups in SF and NYC as a product manager/ designer and developer, I thought I could provide more marginal value in the global health space. 
			</p>
			<br>
			<p>
				So I moved to Kampala to lead tech for a health NGO, running public + private sector health products launched throughout the region. And then I moved to Nairobi to refine my design skills and help a human-centered design firm explore prototyping and technology work. Plus living in the region was incredible (ex. weekend kayaking on the Nile) and I learned a ton about how to start/ scale solutions globally, advising young companies in the health and energy spaces.
			</p>
			<br>
			<p>
				But then I found some other looney tunes with big dreams for a vertically-integrated healthcare system. We call it "LifeCo". I joined in NYC as the first hire, and over 2 years have built the team to 25 brilliant clinicians, data scientists, insurance gurus and engineers through multiple funding rounds. 
			</p>
			<br>
			<p>
				Outside of work, I'm interested in criminal justice reform, movement (devotee of Ido Portal), neuroscience + microbiomes and why we "do things", and super lightweight astrophysics. And breakfast tacos. For every meal. 
			</p>
		</div>
	</section>
</div>
<div class="col-xs-1 col-sm-1 col-md-3"></div>
