<div class="col-xs-1 col-sm-1 col-md-3"></div>
<div id="about_contact" class="col-sm-10 col-sm-10 col-md-6">
	<section id="contact">
		<div id="contact_top">
			<%= image_tag("logan_100px.png") %><br>
			Product Designer, Developer, Health Tech Junkie
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">STALKING FODDER</div>
			<span class="social social-twitter"><a href="https://twitter.com/logansm1th" target="_blank">Twitter</a></span>
			<span class="social social-github"><a href="https://github.com/lstarrsmith" target="_blank">Github</a></span>
			<span class="social social-linkedin"><a href="https://linkedin.com/in/loganssmith" target="_blank">LinkedIn</a></span>
		</div>
		<div class="section_divider"></div>
		<div id="contact_social">
			<div class="contact_subheader">REACH OUT!</div>
			<span><a href="mailto:logan29smith@gmail.com?subject=Contact from Logans.work&body=Hey Logan - I'm interested in chatting more, thanks.">Email</a></span>
		</div>
		<div class="section_divider"></div>
	</section>
	<section class="about">
		<div class="contact_subheader">ABOUT ME</div>
		<div id="about_text">
			<p>My name is Logan Starr (maybe now the logo makes sense) Smith, and I'm a product guy based in Kampala, Uganda.</p>
			<br>
			<p>I like tackling big problems with a mix of empathy and technology. The former opens up the realm of possible solutions; the latter often solves problems more efficiently. 
			</p>
			<br>
			<p>I got hooked on health early in my career (in the US) because it was and is the hardest nut to crack in America. But after a while of working in the digital health space in SF and NYC as a product manager and developer, I thought that my not-yet-senior skills could provide more marginal value in the global health space. </p>
			<br>
			<p>So I'm now working as a tech lead for a health NGO in Kampala, Uganda. We're doing our best to ship usable and open software products that can also be used in other countries.
			</p>
			<br>
			<p>Last bit: I love keeping busy with side projects, so shoot me a note if you have something fun on which we can work. At the very worst, I'd be happy to point you in the "right" direction.
			</p>
		</div>
	</section>
</div>
<div class="col-xs-1 col-sm-1 col-md-3"></div>
