body { 
	padding-top: 50px; 
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px; 
}

a:hover, button:hover {
	cursor: pointer;
}

.orange {
	color: #FF5606;
}

/********************* NAVIGATION BAR ******************/

/*fix pesky margin left of -15px on bootstrap min on navbar-brand*/
@media (min-width:768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		margin-left:0px;
	}
}

/* Centering bootstrap nav not being easy...*/
a.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 15px;
}

a.navbar-brand > img {
    display: inline;
    padding-bottom: 4px;
    margin-right: 1px;
}

/*removing grey background when dropdown is active*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: white;
	color: #FF5606;
}

/*spacing for dropdown elements*/
.dropdown-menu > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*for mobile, show selected dropdown option -- is this working?*/
@media (max-width: 768px) {
	.dropdown-menu > li > a:active {
		color: #FF5606;
	}
  .navbar-default .navbar-toggle {
    margin-top: 0;
  }
}

/*hide contact and move brand from center to right*/
@media (max-width: 768px) {
	#nav_contact {
	display: none;
	}
	a.navbar-brand {
		text-align: right;
	}
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}

.navmenu-default .navmenu-nav>li>a:hover {
  background: #F3F1F1;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
    border-color: #fff;
    cursor: pointer;
    margin-bottom: 0;
    text-transform: uppercase;
}
/********************* HOME PAGE ******************/

.project {
	border-style: solid;
	border-color: #e7e7e7;
	border-width: 1px;
	height: 450px;
	padding: 0;
	overflow: hidden;
}

.project_description {
	font-family: 'Raleway', 'Avenir Next', 'Helvetica', sans-serif;
	letter-spacing: 2px;
	position: absolute;
	text-align: center;
	background-color: white;
	bottom: 0;
	font-weight: 200;
	height: 100px;
	width: 100%;
	border-top: solid 1px #e7e7e7;
}

.project_description > h4 {
	font-weight: 500;
}

img { 
  opacity: 0.95; 
  transition: all 0.3s ease 0s;
} 

img:hover { 
  opacity: 1; 
  cursor: pointer;
}

.home_image {
	width: 100%;
}

.nav-icon {
	margin: 10px;
}

/* home page links on each project stay black*/
.project > a, .project > a:hover, .project > a:active {
	color: black;
}

/*problem with footer is that on pages with no content, it's not at bottom*/
.footer {
  height: 125px;
  margin-top: 100px;
  text-align: center;
}

.footer img {
  margin-bottom: 10px;
}

.footer-container {
	padding-top: 20px;
}

/********************* PROJECT PAGE ******************/

.project_text {
	font-family: 'Raleway', 'Avenir Next', 'Helvetica', sans-serif;
	letter-spacing: 2px;
	line-height: 150%;
	font-size: 20px;
}

.project_text > img {
	display: block;
	margin: auto;
	border-radius: 5px;
}

.project_header {
	text-align: center;
}

.image_caption {
	font-size: 15px;
}

/******************* LOADING ICON ****************/


#loader {
  display: block;
  width: 122px;
  margin: 100px auto;
  position: fixed;  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader_circle {
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  background: #000;
  display: inline-block;
}
.loader_circle:first-child {
  animation: move 1s ease-in-out infinite alternate;
  background: #000000;
  margin-left: 0;
}
.loader_circle:nth-child(2) {
  animation: move 1s ease-in-out -0.25s infinite alternate;
  margin-left: 35px;
  background: #FF5606;
}
.loader_circle:nth-child(3) {
  animation: move 1s ease-in-out -0.5s infinite alternate;
  margin-left: 70px;
  background: #FF5606;
}
.loader_circle:nth-child(4) {
  animation: move 1s ease-in-out -0.75s infinite alternate;
  margin-left: 105px;
  background: #000000;
}
@-moz-keyframes move {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@-o-keyframes move {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

/********************* ABOUT ******************/

#about_contact {
  font-family: 'Raleway', 'Avenir Next', 'Helvetica', sans-serif;
  letter-spacing: 2px;
  line-height: 150%;
  text-align: center;
  margin-top: 50px;
}

#about_contact img {
  margin-bottom: 10px;
}

.section_divider {
  display: block;
  border-top: 1px solid #e7e7e7;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contact_subheader {
  font-weight: 800;
  color: #BABABA;
  margin-bottom: 15px;
}

.social-github {
  margin-left: 20px;
  margin-right: 20px;
}

#about_text {
  text-align: left;
}

/********************* ADMIN ******************/

.new_entry {
	float: right;
}

input.project_main_image_checkbox {
	display: block;
	margin: auto;
}